@model Bornholm_Slægts.Models.Feallesbase


<form method="post" asp-action="CreatePost">
    <div class=" border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Tilgøj Død Anonncere</h2>
        </div>
        <div class="col">
            <div class="row-12">
                <div class="form-group col">
                    <div class="mp-3">
                        <label asp-for="AvisTypeID" class="form-label"></label>
                        <input asp-for="AvisTypeID" class="form-control" />
                    </div>
                    <div class="mp-3">
                        <label asp-for="Avisdato" class="form-label"></label>
                        <input asp-for="Avisdato" class="form-control" />
                       
                    </div>
                    <div class="mp-3">
                        <label asp-for="Efternavn" class="form-label"></label>
                        <input asp-for="Efternavn" class="form-control" />
                    </div>
                    <div class="mp-3">
                        <label asp-for="Fornavne" class="form-label"></label>
                        <input asp-for="Fornavne" class="form-control" />
                    </div>
                    <div class="mp-3">
                        <label asp-for="Foedt" class="form-label"></label>
                        <input asp-for="Foedt" class="form-control" />

                    </div>
                    <div class="mp-3">
                        <label asp-for="Alder" class="form-label"></label>
                        <input asp-for="Alder" class="form-control" />
                    </div>
                    <div class="mp-3">
                        <label asp-for="Doebenavn" class="form-label"></label>
                        <input asp-for="Doebenavn" class="form-control" />
                    </div>
                    <div class="mp-3">
                        <label asp-for="Erhverv" class="form-label"></label>
                        <input asp-for="Erhverv" class="form-control" />

                    </div>
                    <div class="mp-3">
                        <label asp-for="Adresser" class="form-label"></label>
                        <input asp-for="Adresser" class="form-control" />
                    </div>
                    <div class="mp-3">
                        <label asp-for="SognID" class="form-label"></label>
                        <input asp-for="SognID" class="form-control" />
                    </div>
                    <div class="mp-3">
                        <label asp-for="TidlBopael" class="form-label"></label>
                        <input asp-for="TidlBopael" class="form-control" />

                    </div>
                    <div class="mp-3">
                        <label asp-for="Doedsdato" class="form-label"></label>
                        <input asp-for="Doedsdato" class="form-control" />
                    </div>
                    <div class="mp-3">
                        <label asp-for="Begravelsesdato" class="form-label"></label>
                        <input asp-for="Begravelsesdato" class="form-control" />
                    </div>
                    <div class="mp-3">
                        <label asp-for="Begravelsessted" class="form-label"></label>
                        <input asp-for="Begravelsessted" class="form-control" />

                    </div>
                    <div class="mp-3">
                        <label asp-for="Efterladte" class="form-label"></label>
                        <input asp-for="Efterladte" class="form-control" />
                    </div>
                    <div class="mp-3">
                        <label asp-for="FlereDoedsannoncer" class="form-label"></label>
                        <input asp-for="FlereDoedsannoncer" class="form-control" />
                    </div>
                    <div class="mp-3">
                        <label asp-for="AndreDataFraAnnoncen" class="form-label"></label>
                        <input asp-for="AndreDataFraAnnoncen" class="form-control" />

                    </div>
                    <div class="mp-3">
                        <label asp-for="Oegenavne" class="form-label"></label>
                        <input asp-for="Oegenavne" class="form-control" />
                    </div>
                    <div class="mp-3">
                        <label asp-for="Nekrolog" class="form-label"></label>
                        <input asp-for="Nekrolog" class="form-control" />
                    </div>
                    <div class="mp-3">
                        <label asp-for="Mindeord" class="form-label"></label>
                        <input asp-for="Mindeord" class="form-control" />

                    </div>
                    <div class="mp-3">
                        <label asp-for="Statstidende" class="form-label"></label>
                        <input asp-for="Statstidende" class="form-control" />
                    </div>
                    <div class="mp-3">
                        <label asp-for="Partnerlink" class="form-label"></label>
                        <input asp-for="Partnerlink" class="form-control" />
                    </div>
                   
                </div>
               <br/>
                <div class="row">
                        <div class="col-6 col-md-3">
                       
                            <input type="submit" class="btn btn-info w-75" value="Tilføj" />
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-action="Index" class="btn btn-danger w-75">Tilbage</a>
                        </div>
                    
                </div>

            </div>
        </div>
    </div>
</form>

