@model Bornholm_Slægts.Models.Feallesbase


<form method="post" asp-action="Create">
    <div class=" border p-3">
        <div class="form-group row">
           <h2 class="text-black-50 pl-3">Tilgøj Død Anonncere</h2>
        </div>
        <div class="col">
            <div class="row-12">
                <div class="form-group col">
                    <div asp-validation-summary="All"></div>
                    <div class="mp-3">
                        <label asp-for="AvisTypeID" class="form-label"></label>
                        <input asp-for="AvisTypeID" class="form-control" />
                        <span asp-validation-for="AvisTypeID" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Avisdato" class="form-label"></label>
                        <input asp-for="Avisdato" class="form-control" />
                        <span asp-validation-for="Avisdato" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Efternavn" class="form-label"></label>
                        <input asp-for="Efternavn" class="form-control" />
                        <span asp-validation-for="Efternavn" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Fornavne" class="form-label"></label>
                        <input asp-for="Fornavne" class="form-control" />
                        <span asp-validation-for="Fornavne" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Foedt" class="form-label"></label>
                        <input asp-for="Foedt" class="form-control" />
                        <span asp-validation-for="Foedt" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Alder" class="form-label"></label>
                        <input asp-for="Alder" class="form-control" />
                        <span asp-validation-for="Alder" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Doebenavn" class="form-label"></label>
                        <input asp-for="Doebenavn" class="form-control" />
                        <span asp-validation-for="Doebenavn" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Erhverv" class="form-label"></label>
                        <input asp-for="Erhverv" class="form-control" />
                       <span asp-validation-for="Erhverv" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Adresser" class="form-label"></label>
                        <input asp-for="Adresser" class="form-control" />
                        <span asp-validation-for="Adresser" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="SognID" class="form-label"></label>
                        <input asp-for="SognID" class="form-control" />
                        <span asp-validation-for="SognID" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="TidlBopael" class="form-label"></label>
                        <input asp-for="TidlBopael" class="form-control" />
                        <span asp-validation-for="TidlBopael" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Doedsdato" class="form-label"></label>
                        <input asp-for="Doedsdato" class="form-control" />
                        <span asp-validation-for="Doedsdato" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Begravelsesdato" class="form-label"></label>
                        <input asp-for="Begravelsesdato" class="form-control" />
                        <span asp-validation-for="Begravelsesdato" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Begravelsessted" class="form-label"></label>
                        <input asp-for="Begravelsessted" class="form-control" />
                        <span asp-validation-for="Begravelsessted" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Efterladte" class="form-label"></label>
                        <input asp-for="Efterladte" class="form-control" />
                        <span asp-validation-for="Efterladte" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="FlereDoedsannoncer" class="form-label"></label>
                        <input asp-for="FlereDoedsannoncer" class="form-control" />
                        <span asp-validation-for="FlereDoedsannoncer" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="AndreDataFraAnnoncen" class="form-label"></label>
                        <input asp-for="AndreDataFraAnnoncen" class="form-control" />
                        <span asp-validation-for="AndreDataFraAnnoncen" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Oegenavne" class="form-label"></label>
                        <input asp-for="Oegenavne" class="form-control" />
                        <span asp-validation-for="Oegenavne" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Nekrolog" class="form-label"></label>
                        <input asp-for="Nekrolog" class="form-control" />
                        <span asp-validation-for="Nekrolog" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Mindeord" class="form-label"></label>
                        <input asp-for="Mindeord" class="form-control" />
                        <span asp-validation-for="Mindeord" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Statstidende" class="form-label"></label>
                        <input asp-for="Statstidende" class="form-control" />
                        <span asp-validation-for="Statstidende" class="text-danger"></span>
                    </div>
                    <div class="mp-3">
                        <label asp-for="Partnerlink" class="form-label"></label>
                        <input asp-for="Partnerlink" class="form-control" />
                        <span asp-validation-for="Partnerlink" class="text-danger"></span>
                    </div>
                </div>
               <br/>
                <div class="row">
                        <div class="col-6 col-md-3">
                       
                            <input type="submit" class="btn btn-primary w-75" value="Tilføj" />
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-action="Index" class="btn btn-primary w-75">Tilbage</a>
                        </div>
                    
                </div>

            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}