@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
    <h1 class="display-4">Vellkome Til Bornholm Slægts & Local Historiske Forrening </h1>
    <a class="" asp-area="" asp-controller="Feallesbase" asp-action="Index">  Døds Anunoncer</a>
     <img alt="Image"  src="/images/bornholm-billede.jpg" class=" position-absolute " />
     </div>*@
<div class="card" style="width: 90%">
    <img src="\images\bornholm.jpg" class="card-img-top" alt="...">
  <div class="card-body">
        <h5 class="card-title">Bornholm Slægts</h5>
        <p class="card-text">Vellkome Til Bornholm Slægts & Local Historiske Forrening</p>
        <a class="" asp-area="" asp-controller="Feallesbase" asp-action="Index">  Døds Anunoncer</a>
  </div>
</div>