@page
@using ASP.NETCoreIdentityCustom.Areas.Identity.Pages.Account;
@using Microsoft.AspNetCore.Identity
@using ASP.NETCoreIdentityCustom.Areas.Identity.Data
@model RegisterModel
@{
    ViewData["Title"] = "user";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreatePost" method="post">
            <h2>Create a new account.</h2>
            <hr />
            
            <div class="form-floating">
                <input asp-for="Input.FirstName" class="form-control" />
                <label asp-for="Input.FirstName"  class="form-label"></label>
          
            </div>
            <div class="form-floating">
                <input asp-for="Input.LastName" class="form-control" />
                <label asp-for="Input.LastName" class="form-label"></label>
               
            </div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" />
                <label asp-for="Input.Email" class="form-label"></label>
                
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control"  />
                <label asp-for="Input.Password" class="form-label"></label>
                
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control"  />
                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
              
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
   </div>
<</div>
